<div class="alert alert-warning text-center center-block prompt">
    <i class="fa fa-spin fa-spinner"></i> {{translate 'Please wait while we are detecting your current location. If you are asked to grant permission, please click on "Allow".'}}
</div>