<div class="wrapper">
    <div id="{{id}}-account" class="account">
    </div>
    <div id="{{id}}-trips" class="trips hidden">
        {{translate 'Loading trips...'}}
    </div>
    <div id="{{id}}-trip" class="trip hidden">

    </div>
</div>