@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500);
.navbar{border:none;box-shadow:0 1px 2px rgba(0,0,0,.3)}
.navbar-brand{font-size:24px}
.navbar-inverse .form-control{color:#fff}
.navbar-inverse .form-control::-moz-placeholder{color:#9d9d9d;opacity:1}
.navbar-inverse .form-control:-ms-input-placeholder{color:#9d9d9d}
.navbar-inverse .form-control::-webkit-input-placeholder{color:#9d9d9d}
.navbar-inverse .form-control[type=text]{box-shadow:inset 0 -1px 0 #9d9d9d}
.navbar-inverse .form-control[type=text]:focus{box-shadow:inset 0 -2px 0 #fff}
.navbar-nav>li>.dropdown-menu{margin-top:2px}
.btn-default{background-image:radial-gradient(circle,#fff 80%,#f0f0f0 81%);background-repeat:no-repeat;background-size:200%;background-position:50%;transition:background-size 2s}
.btn-default:hover{background-size:100%;border-color:#f0f0f0}
.btn-default:active{background-color:#f0f0f0;background-image:radial-gradient(circle,#f0f0f0 10%,#fff 11%);background-repeat:no-repeat;background-size:1000%;box-shadow:2px 2px 2px rgba(0,0,0,.3)}
.btn-primary{background-image:radial-gradient(circle,#3f51b5 80%,#37479e 81%);background-repeat:no-repeat;background-size:200%;background-position:50%;transition:background-size 2s}
.btn-primary:hover{background-size:100%;border-color:#37479e}
.btn-primary:active{background-color:#37479e;background-image:radial-gradient(circle,#37479e 10%,#3f51b5 11%);background-repeat:no-repeat;background-size:1000%;box-shadow:2px 2px 2px rgba(0,0,0,.3)}
.btn-success{background-image:radial-gradient(circle,#4caf50 80%,#439a46 81%);background-repeat:no-repeat;background-size:200%;background-position:50%;transition:background-size 2s}
.btn-success:hover{background-size:100%;border-color:#439a46}
.btn-success:active{background-color:#439a46;background-image:radial-gradient(circle,#439a46 10%,#4caf50 11%);background-repeat:no-repeat;background-size:1000%;box-shadow:2px 2px 2px rgba(0,0,0,.3)}
.btn-info{background-image:radial-gradient(circle,#5bc0de 80%,#42b6d9 81%);background-repeat:no-repeat;background-size:200%;background-position:50%;transition:background-size 2s}
.btn-info:hover{background-size:100%;border-color:#42b6d9}
.btn-info:active{background-color:#42b6d9;background-image:radial-gradient(circle,#42b6d9 10%,#5bc0de 11%);background-repeat:no-repeat;background-size:1000%;box-shadow:2px 2px 2px rgba(0,0,0,.3)}
.btn-warning{background-image:radial-gradient(circle,#f0ad4e 80%,#eea032 81%);background-repeat:no-repeat;background-size:200%;background-position:50%;transition:background-size 2s}
.btn-warning:hover{background-size:100%;border-color:#eea032}
.btn-warning:active{background-color:#eea032;background-image:radial-gradient(circle,#eea032 10%,#f0ad4e 11%);background-repeat:no-repeat;background-size:1000%;box-shadow:2px 2px 2px rgba(0,0,0,.3)}
.btn-danger{background-image:radial-gradient(circle,#d9534f 80%,#d43a36 81%);background-repeat:no-repeat;background-size:200%;background-position:50%;transition:background-size 2s}
.btn-danger:hover{background-size:100%;border-color:#d43a36}
.btn-danger:active{background-color:#d43a36;background-image:radial-gradient(circle,#d43a36 10%,#d9534f 11%);background-repeat:no-repeat;background-size:1000%;box-shadow:2px 2px 2px rgba(0,0,0,.3)}
.btn{text-transform:uppercase;border-right:none;border-bottom:none;box-shadow:1px 1px 2px rgba(0,0,0,.3);transition:all .2s}
.btn-link{box-shadow:none}
.btn-link:focus,.btn-link:hover{color:#3f51b5;text-decoration:none}
.btn-default.disabled{border:1px solid #ccc}
body{-webkit-font-smoothing:antialiased;letter-spacing:.1px;text-rendering:optimizeLegibility}
p{margin:0 0 1em}
button,input{-webkit-font-smoothing:antialiased;letter-spacing:.1px;text-rendering:optimizeLegibility}
a{transition:all .2s}
label{font-weight:400}
[contenteditable].form-control,[type=email].form-control,[type=password].form-control,[type=tel].form-control,[type=text].form-control,input.form-control,input[type=email],input[type=number],input[type=password],input[type=text],textarea,textarea.form-control{padding:0;border:none;border-radius:0;-webkit-appearance:none;box-shadow:inset 0 -1px 0 #ddd;font-size:13px}
[contenteditable].form-control:focus,[type=email].form-control:focus,[type=password].form-control:focus,[type=tel].form-control:focus,[type=text].form-control:focus,input.form-control:focus,input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=text]:focus,textarea.form-control:focus,textarea:focus{box-shadow:inset 0 -2px 0 #3f51b5}
[contenteditable].form-control[disabled],[contenteditable].form-control[readonly],[type=email].form-control[disabled],[type=email].form-control[readonly],[type=password].form-control[disabled],[type=password].form-control[readonly],[type=tel].form-control[disabled],[type=tel].form-control[readonly],[type=text].form-control[disabled],[type=text].form-control[readonly],input.form-control[disabled],input.form-control[readonly],input[type=email][disabled],input[type=email][readonly],input[type=number][disabled],input[type=number][readonly],input[type=password][disabled],input[type=password][readonly],input[type=text][disabled],input[type=text][readonly],textarea.form-control[disabled],textarea.form-control[readonly],textarea[disabled],textarea[readonly]{box-shadow:none;border-bottom:1px dotted #ddd}
[contenteditable].form-control.input-sm,[type=email].form-control.input-sm,[type=password].form-control.input-sm,[type=tel].form-control.input-sm,[type=text].form-control.input-sm,input.form-control.input-sm,input[type=email].input-sm,input[type=number].input-sm,input[type=password].input-sm,input[type=text].input-sm,textarea.form-control.input-sm,textarea.input-sm{font-size:12px}
[contenteditable].form-control.input-lg,[type=email].form-control.input-lg,[type=password].form-control.input-lg,[type=tel].form-control.input-lg,[type=text].form-control.input-lg,input.form-control.input-lg,input[type=email].input-lg,input[type=number].input-lg,input[type=password].input-lg,input[type=text].input-lg,textarea.form-control.input-lg,textarea.input-lg{font-size:18px}
select,select.form-control{border:0;border-radius:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;padding-left:0;padding-right:0\9;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);background-size:13px;background-repeat:no-repeat;background-position:right center;box-shadow:inset 0 -1px 0 #ddd;font-size:16px;line-height:1.5}
select.form-control::-ms-expand,select::-ms-expand{display:none}
select.form-control.input-sm,select.input-sm{font-size:12px}
select.form-control.input-lg,select.input-lg{font-size:18px}
select.form-control:focus,select:focus{box-shadow:inset 0 -2px 0 #3f51b5;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=)}
select.form-control[multiple],select[multiple]{background:0 0}
.checkbox label,.checkbox-inline label,.radio label,.radio-inline label{padding-left:25px}
.radio input[type=radio],.radio-inline input[type=radio],input[type=radio]{margin-top:5px;margin-left:-25px;border:none;background-color:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer}
.radio input[type=radio]:focus,.radio-inline input[type=radio]:focus,input[type=radio]:focus{outline:0}
.radio input[type=radio]:after,.radio input[type=radio]:before,.radio-inline input[type=radio]:after,.radio-inline input[type=radio]:before,input[type=radio]:after,input[type=radio]:before{content:"";display:block;width:18px;height:18px;margin-top:-3px;border-radius:50%;transition:240ms}
.radio input[type=radio]:before,.radio-inline input[type=radio]:before,input[type=radio]:before{position:absolute;left:0;top:0;background-color:#3f51b5;-webkit-transform:scale(0);transform:scale(0)}
.radio input[type=radio]:after,.radio-inline input[type=radio]:after,input[type=radio]:after{border:2px solid #555}
.radio input[type=radio]:checked:before,.radio-inline input[type=radio]:checked:before,input[type=radio]:checked:before{-webkit-transform:scale(.5);transform:scale(.5)}
.radio input[type=radio]:disabled:checked:before,.radio-inline input[type=radio]:disabled:checked:before,input[type=radio]:disabled:checked:before{background-color:#777}
.radio input[type=radio]:checked:after,.radio-inline input[type=radio]:checked:after,input[type=radio]:checked:after{border-color:#3f51b5}
.radio input[type=radio]:disabled:after,.radio input[type=radio]:disabled:checked:after,.radio-inline input[type=radio]:disabled:after,.radio-inline input[type=radio]:disabled:checked:after,input[type=radio]:disabled:after,input[type=radio]:disabled:checked:after{border-color:#777}
.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox],input[type=checkbox]{margin-left:-25px;border:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer}
.checkbox input[type=checkbox]:focus,.checkbox-inline input[type=checkbox]:focus,input[type=checkbox]:focus{outline:0}
.checkbox input[type=checkbox]:after,.checkbox-inline input[type=checkbox]:after,input[type=checkbox]:after{content:"";display:block;width:18px;height:18px;margin-top:-2px;margin-right:5px;border:2px solid #555;border-radius:2px;transition:240ms}
.checkbox input[type=checkbox]:checked:before,.checkbox-inline input[type=checkbox]:checked:before,input[type=checkbox]:checked:before{content:"";position:absolute;top:0;left:6px;display:table;width:6px;height:12px;border:2px solid #fff;border-top-width:0;border-left-width:0;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.checkbox input[type=checkbox]:checked:after,.checkbox-inline input[type=checkbox]:checked:after,input[type=checkbox]:checked:after{background-color:#3f51b5;border-color:#3f51b5}
.checkbox input[type=checkbox]:disabled:after,.checkbox-inline input[type=checkbox]:disabled:after,input[type=checkbox]:disabled:after{border-color:#777}
.checkbox input[type=checkbox]:disabled:checked:after,.checkbox-inline input[type=checkbox]:disabled:checked:after,input[type=checkbox]:disabled:checked:after{background-color:#777;border-color:transparent}
.has-warning .form-control,.has-warning .form-control:focus,.has-warning input,.has-warning input:focus{box-shadow:inset 0 -2px 0 #f0ad4e}
.has-error .form-control,.has-error .form-control:focus,.has-error input,.has-error input:focus{box-shadow:inset 0 -2px 0 #d9534f}
.has-success .form-control,.has-success .form-control:focus,.has-success input,.has-success input:focus{box-shadow:inset 0 -2px 0 #4caf50}
.nav-tabs>li>a,.nav-tabs>li>a:focus{margin-right:0;background-color:transparent;border:none;color:#777;box-shadow:inset 0 -1px 0 #ddd;transition:all .2s}
.nav-tabs>li>a:focus:hover,.nav-tabs>li>a:hover{background-color:transparent;box-shadow:inset 0 -2px 0 #3f51b5;color:#3f51b5}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus{border:none;box-shadow:inset 0 -2px 0 #3f51b5;color:#3f51b5}
.nav-tabs>li.active>a:focus:hover,.nav-tabs>li.active>a:hover{border:none;color:#3f51b5}
.nav-tabs>li.disabled>a{box-shadow:inset 0 -1px 0 #ddd}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:hover,.nav-tabs.nav-justified>li>a,.nav-tabs.nav-justified>li>a:hover{border:none}
.nav-tabs .dropdown-menu{margin-top:0}
.dropdown-menu{border:none;box-shadow:0 1px 4px rgba(0,0,0,.3)}
.alert{border:none;color:#fff}
.alert-success{background-color:#4caf50}
.alert-info{background-color:#5bc0de}
.alert-warning{background-color:#f0ad4e}
.alert-danger{background-color:#d9534f}
.alert .alert-link,.alert a:not(.close){color:#fff;font-weight:700}
.alert .close{color:#fff}
.badge{padding:3px 6px 5px}
.progress{position:relative;z-index:1;height:6px;border-radius:0;box-shadow:none}
.progress-bar{box-shadow:none}
.progress-bar:last-child{border-radius:0 3px 3px 0}
.progress-bar:last-child:before{display:block;content:'div::before';position:absolute;width:100%;height:100%;left:0;right:0;z-index:-1;background-color:#bec5e8}
.progress-bar-success:last-child.progress-bar:before{background-color:#c7e7c8}
.progress-bar-info:last-child.progress-bar:before{background-color:#fff}
.progress-bar-warning:last-child.progress-bar:before{background-color:#fef9f3}
.progress-bar-danger:last-child.progress-bar:before{background-color:#f0b9b8}
.close{font-size:34px;font-weight:300;line-height:24px;opacity:.6}
.close:hover{opacity:1}
.list-group-item{padding:.75em}
.list-group-item-text{color:#777}
.well{border-radius:0;box-shadow:none}
.panel{border:none;border-radius:2px;box-shadow:0 1px 4px rgba(0,0,0,.3)}
.panel-heading{border-bottom:none}
.panel-footer{border-top:none}
.panel-success .panel-heading{background-color:#4caf50}
.panel-success .panel-title{color:#fff}
.panel-info .panel-heading{background-color:#5bc0de}
.panel-info .panel-title{color:#fff}
.panel-warning .panel-heading{background-color:#f0ad4e}
.panel-warning .panel-title{color:#fff}
.panel-danger .panel-heading{background-color:#d9534f}
.panel-danger .panel-title{color:#fff}
.popover{border:none;box-shadow:0 1px 4px rgba(0,0,0,.3)}
.modal-backdrop~.dropdown-menu{z-index:1000000!important}
.badge.state{padding-top:4px}
@media (max-width:768px){.alert{padding:6px}
}
body,html{width:100%;height:100%;overflow-x:hidden;min-width:320px}
body .system-message{border-radius:0;line-height:14px;padding-top:4px;padding-bottom:4px}
body .main-container{height:100%}
i[data-help-text]{cursor:pointer;font-size:13px}
i[data-help-text]:hover{color:#3f51b5}
@media (max-width:991px){.checkbox,.radio{margin-left:25px}
}
.has-feedback .form-control-feedback{font-size:2em;top:.25em;right:.5em}
.has-feedback label~.form-control-feedback{top:1.25em;right:0}
.form-group label~.help-inline{margin-left:.5em;font-size:small;color:#bbb}
.form-group label~.help-inline:before{content:'('}
.form-group label~.help-inline:after{content:')'}
#container{height:100%}
.percentage:after{content:'%'}
input[type=number] ::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
.form-group>label{font-weight:700}
.form-group .form-control{padding:.25em;border-radius:0}
.form-group .select2-container.form-control{padding:0}
.select2-drop{font-size:13px!important}
.select2-drop-active{border:1px solid #ddd}
.select2-container{border:none;border-radius:0!important;border-bottom:1px solid #ddd}
.select2-container.form-control{margin-top:1px}
.select2-container>.select2-choices{background-image:none;border-radius:0;border:none!important;box-shadow:none!important}
.select2-container>.select2-choices>.select2-search-choice{padding-top:5px;padding-bottom:5px;border-radius:0;background-color:transparent;background-image:none;border-color:#66afe9}
.select2-container>.select2-choices .select2-search-choice-close{left:4px;top:5px;color:#555}
.select2-container>.select2-choices>.select2-search-field>.select2-input{padding:5px 0}
.select2-container>.select2-choices>.select2-search-field>.select2-input.select2-default{color:#c1c1c1!important}
.select2-container.select2-dropdown-open.form-control{padding:0;border:none}
.select2-container{box-shadow:none;border-bottom:1px solid #ddd;border-radius:0}
.select2-container .select2-choice{border-radius:0}
.select2-container.select2-container-disabled{background-color:#fff;border:none;border-bottom:1px dotted #ddd;cursor:no-drop}
.select2-container.select2-container-disabled .select2-choice{background-color:#fff;border:none}
.select2-container.select2-container-disabled .select2-choice .select2-arrow{background-color:#fff}
.select2-arrow,.select2-choice,.select2-chosen{font-size:13px;padding-left:0;border-radius:0;border:none;background:0 0}
.select2-container .select2-choice .select2-arrow{background:0 0;border:none}
.select2-container .select2-choice{background:0 0;padding:3px;height:30px}
.select2-dropdown-open .select2-choice{box-shadow:none}
.select2-offscreen,.select2-offscreen:focus{box-shadow:none}
.select2-drop{font-size:16px}
.help-block{color:#aaa}
#nprogress{position:absolute;z-index:1042}
#nprogress>.bar{background-color:#f0ad4e}
#nprogress>.spinner{color:#f0ad4e}
#nprogress>.spinner>.spinner-icon{width:28px;height:28px;border-width:5px;border-radius:28px;border-top-color:#f0ad4e;border-left-color:#f0ad4e;border-right-color:#f0ad4e;-webkit-animation:nprogress-spinner .6s linear infinite;animation:nprogress-spinner .6s linear infinite}
.checkbox-inline input[type=checkbox],.radio-inline input[type=radio],input[type=radio],input[type=checkbox]{margin-left:-20px}
.checkbox-inline input[type=checkbox]:after,.radio-inline input[type=radio]:after,input[type=radio]:after,input[type=checkbox]:after{margin-right:0!important}
.has-success .checkbox-inline input[type=checkbox],.has-success .radio-inline input[type=radio],.has-success input[type=radio],.has-success input[type=checkbox]{box-shadow:none}
.has-success .checkbox-inline input[type=checkbox]:before,.has-success .radio-inline input[type=radio]:before,.has-success input[type=radio]:before,.has-success input[type=checkbox]:before{background-color:#4caf50}
.has-success .checkbox-inline input[type=checkbox]:after,.has-success .radio-inline input[type=radio]:after,.has-success input[type=radio]:after,.has-success input[type=checkbox]:after{border-color:#4caf50!important}
.has-error .checkbox-inline input[type=checkbox],.has-error .radio-inline input[type=radio],.has-error input[type=radio],.has-error input[type=checkbox]{box-shadow:none}
.has-error .checkbox-inline input[type=checkbox]:before,.has-error .radio-inline input[type=radio]:before,.has-error input[type=radio]:before,.has-error input[type=checkbox]:before{background-color:#d9534f}
.has-error .checkbox-inline input[type=checkbox]:after,.has-error .radio-inline input[type=radio]:after,.has-error input[type=radio]:after,.has-error input[type=checkbox]:after{border-color:#d9534f!important}
.has-success .checkbox-inline input[type=checkbox]:checked:after,.has-success input[type=checkbox]:checked:after{background-color:#4caf50!important}
.has-error .checkbox-inline input[type=checkbox]:checked:after,.has-error input[type=checkbox]:checked:after{background-color:#d9534f!important}
.table.table-condensed>tbody>tr>td,.table.table-condensed>tfoot>tr>td{padding-left:0}
.table>tbody>tr>td{vertical-align:middle}
.table>tbody>tr>td>.checkbox,.table>tbody>tr>td>.radio{margin-top:0;margin-bottom:0}
.table>tbody>tr>td>.checkbox input[type=checkbox],.table>tbody>tr>td>.radio input[type=checkbox]{margin-left:2px;margin-top:-6px}
.table>tbody>tr>td>.checkbox input[type=radio],.table>tbody>tr>td>.radio input[type=radio]{margin-left:2px}
.table>tbody>tr>td>.checkbox input[type=radio]:before,.table>tbody>tr>td>.radio input[type=radio]:before{top:5px;left:2px}
.go-to-top{background-color:#5bc0de;color:#fff;position:fixed;bottom:.5em;right:.5em;border-radius:2em;padding:.45em .85em;z-index:100;width:3em;height:3em}
.go-to-top:hover{color:#fff}
.index-index .main-container{height:100%}
.index-index .main-container .map{height:100%}
.index-index .main-container .map .map-canvas{width:100%;height:100%}
.index-index .main-container .map .map-canvas .info-window .galery .photo{width:100px;height:100px;overflow:hidden;background-size:cover;background-repeat:no-repeat}
.index-index .main-container .sidebar{position:fixed;height:100%;border-right:1px solid #b6b6b6;padding:5px;width:20%;box-shadow:2px 0 3px 0 rgba(0,0,0,.75);z-index:1;background-color:#303f9f}
.index-index .main-container .sidebar .wrapper{padding-left:0}
.index-index .main-container .sidebar .wrapper .top-buttons{margin-bottom:1em}
.index-index .main-container .sidebar .wrapper .account{padding:4px;margin-bottom:1em}
.index-index .main-container .sidebar .wrapper .account .name{font-weight:700;color:#fff}
.index-index .main-container .sidebar .wrapper .attendees .cheapest-price{float:right;margin-top:10px;padding:8px;font-size:medium}
.form-group.required>label.control-label{font-weight:700}
.form-group.required>label.control-label:after{content:' (*)'}