<div id="{{id}}-message" class="alert hidden"></div>

{{#if isLoggedIn}}
    <nav id="{{id}}-nav" class="navbar navbar-inverse navbar-fixed-top header" role="navigation">
    </nav>
{{/if}}
<div id="{{id}}-main-panel" class="clearfix main-container">
</div>
<div id="{{id}}-print-time" class="text-right text-muted visible-print"></div>